<html>
    <body>
        <p>
            <h2>Hello swarna</h2>
            Enter your name:<br>
           <input type="text"></input><br>
           Enter your password:<br>
           <input type="password"></input>
        </p>
    </body>
    
</html>